input[type=text], input[type=number], input[type=file], #tipo {
  background-color: #f5f5f5;
  width: 100%;
  padding: 0.5rem;
  border-color: 1px #212121;
  border-radius: 0.2px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  color: #212121;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.ng-valid:not(form).ng-touched {
  border-bottom: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-bottom: 5px solid #a94442;
}

.title{
  font-size: 3rem;
  font-style: italic;
  font-family: "Poetsen One", sans-serif;
  color: rgba(245,245,220,1);
}

.agregar {
  min-width: 400px;
  max-width: 60%;
  margin: 2% auto;
  background-color: rgba(245, 245, 220, 1);
  border-radius: 15px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EC5564;
}

.agregar_title{
  font-style: italic;
  font-family: "Poetsen One", sans-serif;
  color: #EC5564;
  margin-bottom: 5%;
  font-size: 2rem;
}

.table{
  min-width: 400px;
  max-width: 90%;
}

.btn{
  text-transform: uppercase;
  border: none;
  font-size: 0.875rem;
  color: rgba(245,245,220,1);
  font-weight: bold;
  background-color: #EC5564;;
  width: 70%;
  display: block;
  margin-top: 1em;
  margin-left: 15%;
  padding: 0.875rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(195, 49, 64, 0.72) ;
}