footer {
    background: #81b4db !important;
    color: white;
}

.container {
    background-color: #81b4db ;
}

h5 {
    font-size: 18px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.go_back_up{
    color: rgba(245,245,220,1) !important;
    background-color: #EC5564;
}

