* {
  box-sizing: border-box;
}

html,
body {
  background: #ecf0f3;
}

.seccion-my-form input {
  display: block;
  margin: 2rem 2rem 2rem 2rem;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.8rem;
  border: none;
  border: none;
  background: #ebf5fc;
  margin-top: 1rem;
}

.row input {
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px #9e9ea1;
}

.btn {
  text-transform: uppercase;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #EC5564;
  width: 50%;
  display: block;
  margin: 3% auto 0;
  border-radius: 15px;
  cursor: pointer;
  padding: 0.875rem;
}

.btn:hover {
  background-color: rgba(195, 49, 64, 0.72) ;
}

p {
  text-align: center;
  padding: .5%;
  color: #EC5564;
  font-size: 1.2em;
}

h2 {
  padding: 2%;
}

.my-form {
  margin: 0px auto;
  padding: 2rem 3rem;
  background-color: rgba(245, 245, 220, 1);
  border-radius: 0.5rem;
  margin-top: 3px;
  width: 75%;

}

input[type=text],
input[type=email],
input[type=tel],
input[type=password] {
  background-color: #f5f5f5;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 0.2rem;
  margin-top: 6px;
  margin-bottom: 16px;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px #160f75;
  resize: vertical;
  color: #212121;

}

.ng-valid:not(form).ng-touched {
  border-bottom: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-bottom: 5px solid #a94442;
}

.title_perfil{
  color: rgba(245,245,220,1);
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
}

.from_title{
  color: #EC5564;
  font-style: italic;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
}

.form_text{
  color: #EC5564;
  font-size: 1.5rem;
}