html,
body {
  background: #ecf0f3;
}

.seccion-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 0.5rem;
  background-color: rgba(245,245,220,1);
  color: #EC5564;
  font-size: 1.3rem;
  margin-top: 0.5rem ;
}

.seccion-form input {
  display: block;
  margin: 0,5rem 0;
  width: 100%;
  border-radius: 0.2rem;
  padding: 0.8rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
  #9e9ea1;
  border: 0 none;
  background: #ebf5fc;
}

.btn {
  text-transform: uppercase;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #EC5564;
  width: 70%;
  margin-top: 1em;
  margin-left: 15%;
  display: block;
  padding: 0.875rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(195, 49, 64, 0.72) ;
}

p {
  text-align: center;
}

.ng-valid:not(form).ng-touched {
  border-bottom: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-bottom: 5px solid #a94442;
}

.title{
  color: rgba(245,245,220,1);
  font-style: italic;
  font-size: 3rem;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
}
