<div class="col-md-12 mt-auto pb-4">
    <div class="mt-5 p-2">
        <div class="text-center">
            <h1 class="title">CONFIGURACIONES</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col table">
        <ng-container *ngIf="configuraciones.length > 0">
          <div class="row table-header-color">
            <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">Nombre</div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">Valor</div>
          </div>
          <app-item-configuracion *ngFor="let configuracion of configuraciones; let odd = odd" [odd]=odd (refrescar)="refrescar()" [configuracion]="configuracion"></app-item-configuracion>
        </ng-container>
        <ng-container *ngIf="configuraciones.length == 0">
          <p>No hay envíos para mostrar.</p>
        </ng-container>
        <div class="row mt-5 mb-5 agregar">
          <h3 class="agregar_title">Agregar</h3>
          <form [formGroup]="crearConfiguracionForm" (ngSubmit)="crear(crearConfiguracionForm.value)">
            <input class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7" formControlName="nombre" id="nombre" name="nombre" type="text" placeholder="Ingresar nombre de configuración">
            <input class="col-3 col-sm-3 col-md-3 col-lg-4 col-xl-4" formControlName="valor" id="valor" name="valor" type="text" placeholder="Ingresar valor de configuracion">

            <button type="submit" class="col btn btn-primary" [disabled]="!crearConfiguracionForm.valid"><i class="bi bi-save"></i></button>
            <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="text-danger">
              <div *ngIf="nombre?.errors?.['required']">
                Se requiere ingresar el nombre para la configuración.
              </div>
              <div *ngIf="nombre?.errors?.['maxlength']">
                El nombre no debe exceder los {{constantes.MAXIMO_NOMBRE_CONFIGURACION}} caracteres.
              </div>
            </div>
            <div *ngIf="valor?.invalid && (valor?.dirty || valor?.touched)" class="text-danger">
              <div *ngIf="valor?.errors?.['required']">
                Se requiere ingresar el valor de la configuración.
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
</div>
