.ng-valid:not(form).ng-touched {
  border-bottom: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-bottom: 5px solid #a94442;
}

.title {
  border-radius: 15px;
  font-size: 3rem;
  font-style: italic;
  font-family: "Poetsen One", sans-serif;
  color: rgba(245, 245, 220, 1);
}

.table {
  font-size: 1.1rem;
}

.agregar {
  background-color: rgba(245, 245, 220, 1);
  border-radius: 15px;
  padding: 2%;
}

.agregar_title{
  font-style: italic;
  font-family: "Poetsen One", sans-serif;
  color: #EC5564;
}