#logoHeader {
  width: 100px;
}

header {
  background: #81b4db !important;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  transition: .1s;
  border-radius: 10px 0px;
  color: #850F1B;
}

.nav-link:hover {
  transition: .5s;
  color: #f5f5dc !important;
  background-color: #EC5564;
  border-radius: 15px;
}

.nav-item {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.5em;
}

.form-control{
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
  #9e9ea1;
}