#logoHeader {
  width: 100px;
}

header {
  background: #81b4db !important;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  transition: .1s;
  border-radius: 10px 0px;
  color: #EC5564;
}

.nav-link:hover {
  transition: .5s;
  color: rgba(245,245,220,1) !important;
  background-color: #EC5564;
  border-radius: 15px;
}

.nav-item {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.5em;
}